@import './_variables';
@font-face {
    font-family: 'CloisterBlack';
    src: local('CloisterBlack'), url(../../fonts/cloisterblack.ttf) format('opentype');
  }

  .tagText {
    font-weight: bolder;
    color: var(--colour_grey_main);
}

.equipTagText {
    font-weight: bolder;
    color: var(--colour_grey_main);
    font-size: 0.9em;
    margin-left: 1em;
}

.titleShape {
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-family: CloisterBlack;
}

.megatitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 4em;
}

.medtitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 2.5em;
}

.titlepurple {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_purple_main);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.largefonttext {
  color: var(--colour_purple_main);
  font-family: CloisterBlack;
  font-size: 5em;
  font-weight: 500;
  line-height: 1em;
}

.mediumfonttext {
  color: var(--colour_purple_main);
  font-family: CloisterBlack;
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
}

.mediumsubfonttext {
  color: var(--colour_purple_main);
  font-family: CloisterBlack;
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
}

.subfonttext {
  color: var(--colour_purple_main);
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}

.subtitlepurple {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_purple_secondary);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.glossaryPurple {
    color: var(--colour_purple_main);
    font-weight: bold;
}

.glossaryGrey {
    color: var(--colour_grey_main);
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    padding-top:0.1em;
}

.boldtextPurple {   
    font-weight: 650;
    font-size: 1.25em;
}

.titleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_blue_main);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.subtitleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_blue_secondary);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.titlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_green_main);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.subtitlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_green_secondary);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.titlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_red_main);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.subtitlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_red_secondary);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.titleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_yellow_main);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.subtitleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_yellow_secondary);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.titlegrey {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_grey_main);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.subtitlegrey {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: var(--colour_grey_secondary);
    color: var(--colour_background_white);
    font-size: 200%;
    font-weight: bolder;
}

.subtletext {
    text-align: center;
    color: var(--colour_grey_secondary);
    font-size: 200%;
    font-weight: bolder;
}

.hometitle {
    color: var(--colour_purple_main);
    font-size: 5em;
    font-weight: 1500;
}

.homesubtitle {
    color: var(--colour_purple_main);
    font-size: 2em;
    font-weight: 1500;
}

.homelink {
    font-weight: 1000;
    text-decoration: none;
    color: var(--colour_purple_main);
}
.navitemh2 {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

.webtitle {
    margin-top: 0em;
    margin-bottom: 0em;
    color: var(--colour_purple_main);
    font-size: 3em;

}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--colour_grey_secondary);
    font-weight: bolder;
    font-size: 2em;
    font-family: CloisterBlack;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--colour_grey_secondary);
    font-family: CloisterBlack;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .itemlisttext {

    font-size: 125%;
    text-align: left;
  }

  .softpad {
    padding: 0.25em !important
  }

  .subltenotetext {
    text-align: center;
    color: var(--colour_grey_secondary);
    font-size: 0.9em;
  }

  .headertext {
    color: var(--colour_background_white);
    font-weight: 700;
    font-size: 1.5em;
    font-family: CloisterBlack;
  }

  .headersubtext {
    color: var(--colour_background_white);
    font-size: 1em;
    font-weight: 400;
  }

  .bodytext {
    font-size: 0.85em;
  }

  .pagetitletext {
    font-size: 3em;
    font-weight: 600;
    color: var(--colour_purple_main);
    justify-self: center;
    text-align: center;
  }

  .pageaccestext {
      font-size: 1.75em;
      font-weight: 700;
      color: var(--colour_purple_main);
      margin: 0.1em;
  }

  .pageaccestextsmall {
      font-size: 1.25em;
      font-weight: 600;
      color: var(--colour_purple_main);
      margin: 0.1em;
  }

  .loreaccesstext {
      font-size: 1.2em;
      font-weight: 600;
      color: var(--colour_grey_main);
      margin: 0em;
  }

  .packtitle {
    font-size: 1.75em;
    font-weight: 700;
    color: var(--colour_purple_main);
    margin: 0.25em;
  }

  .packsubtitle {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--colour_purple_main);
    margin: 0.25em;
  }

  .purpleIcon {
    color: var(--colour_purple_main);
  }
  .redIcon {
    color: var(--colour_red_main);
  }
  .greenIcon {
    color: var(--colour_green_main);
  }

  .stattitle {
    width: 100%;
    font-weight: 400;
    color: var(--colour_grey_main);
    text-align: center;
  }

  .equiptitle {
    width: 100%;
    font-weight: 400;
    color: var(--colour_grey_main);
    text-align: left;
  }

  .statbody {
    width: 100%;
    font-weight: 600;
    text-align: center;
  }

  .equipbody {
    width: 100%;
    font-weight: 600;
    text-align: left;
  }

  .equipgrouptext {
    font-size: 2em;
    font-family: CloisterBlack;
  }

  .tabletitle {
    font-size: 2em;
    color: var(--colour_purple_main);
    font-weight: 700;
    font-family: CloisterBlack;
  }

  .tableresult {
    display: flex;
    font-size: 1.25em;
    color: var(--colour_grey_main);
    text-align: left;
  }

  .tablename {
    font-size: 1.25em;
    color: var(--colour_purple_main);
    font-weight: 600;
    text-align: left;
  }